body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
}

.judul{
    text-align: center;
    margin-top: 20px;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;
}


.navbar a{
    text-decoration: none;
    color: white;
    background: #007bff;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

/* Efek popup saat disentuh */
.navbar a:hover{
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* Tabel utama */
table{
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th{
    background: #007bff;
    color: white;
}

th, td{
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

/* Tombol */
button{
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    transform: scale(1.1);
}

a button{
    background: #28a745;
    color: white;
}